* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #181818;
}

.navbar{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: fixed;
    top: 0;
}

.nav-left svg {
    width: 120px;
    height: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-right ul{
    padding-right: 10px;
    margin-right: 60px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

#join-now {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px 20px;
    margin: 0 6px 0 10px;
}

#sign-in {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 8px 20px;
    font-weight: bold;
    font-size: smaller;
}
.logo {
    margin: 16px  0 0 60px;
}

.title {
    width: 540px;
    height: 140px;
    margin: 120px 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#only-on-netflix {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 42px;
  color: white;
  margin: 0;
}
#des-for-title {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#next-watch, #new-on-netflix,#Critically-Acclaimed-TV-Shows,#action-movies,#documentaries{
    font-family: "Poppins", sans-serif;
    color: white;
    margin-left: 60px;
    font-weight: 560;
}

.movie-list {
    margin: 18px 0 0 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#movie-title {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 3;
}

.gradient {
    margin-top: 40px;
    width: 100%;
    height: 300px;
    background-image: url('assets/company_assets_bg.png');
}
.blur-effect {
    width: 100%;
    height: 90vh;
    background-color: rgba(24, 24, 24, 0.98);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.98);
    position: fixed;
    bottom: 0;
    z-index: 2;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

.blur-effect.show {
    opacity: 1;
    pointer-events: auto;
}

.restriction-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
}

#restrition-heading {
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.restriction-description {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 20px;
    letter-spacing: 1px;
    width: 580px;
}

#join-now-cta-btn {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px 20px;
    margin: 0 6px 0 10px;
}

.main-footer {
    margin: 40px 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.anchor-msg {
    margin: 200px 0 60px 60px;
}
#anchor-msg {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #e3e3e3;
}
.query {
    margin: 60px 0 60px 60px;
}
#query {
    color: #e3e3e3;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 40px 40px 40px 0;
}

.navigations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

#navs {
    color: #e3e3e3;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lang-selection {
    margin: 40px 0 0 60px;
}

select,option {
    padding: 10px 10px;
    background-color: #181818;
    color: white;
    font-family: "Noto Sans Devanagari", system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
}







